<div class="content">
  <h1>Questions#answer</h1>
  <p>Find me in app/views/questions/answer.html.erb</p>
   <h4><%= @question %></h4>
   <h4><%= @answer %></h4>
  <%= link_to "Ask a new question", "http://localhost:3000/ask" %>
</div>
